.rows{
    background-color:white;
	max-width: 1300px;
    margin:auto;

}
.container_items{
    display: flex;
    flex-wrap:wrap;
    column-gap:16px;
    row-gap:16px;
    justify-content: center;
}

.col-md-8 {
	flex:0 0 55%;
}
.col-md-4 > .responsiveGrid{
    display:flex;
    flex-direction:column;
	row-gap:16px;
}
.col-md-4{
    flex:0 0 27%;
}

.col-md-4 > .responsiveGrid{
    display:flex;
    flex-direction:column;
	row-gap:16px;

}

@media (max-width: 375px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        max-width: 100%;
    }
    .row {
        display: block;
    }
}

@media (max-width: 993px) {
    .container_items > div:first-child {
        flex: 0 0 80%;
    }

    .container_items > div:not(:first-child) {
        flex: 0 0 40%;
    }
}

@media (max-width: 768px) {
    .container_items > div:first-child {
        flex: 0 0 99%;
    }

    .container_items > div:not(:first-child) {
        flex: 0 0 98%;
    }
}

@media (max-width: 767px) {

.container_items{
    display: flex;
    justify-content: center;
	}

.col-md-8 {

	flex:0 0 99%;
}
.col-md-4 {
    flex:0 0 98%;
}
}

