<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<sly data-sly-use.columnRatio="com.adobe.aem.guides.glucerna.core.models.ColumnRatio">
    <div class="rows" id="dynamicRow" data-ratios="${columnRatio.columnRatios}">
        <div class="container_items">
            <sly data-sly-list.ratios="${columnRatio.columnRatios}">
                <div class="col-md-${ratios}">
                    <div class="responsiveGrid" data-sly-resource="${ratiosList.index @ resourceType='wcm/foundation/components/parsys'}">
                    </div>
                </div>
            </sly>   
        </div>
    </div>
</sly>