<sly data-sly-use.primary="com.adobe.aem.guides.glucerna.core.models.PrimaryHeaderComponent"
         data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <div class="primary-header" >
        <div class=primary-header-list> 
           <div class="primary-header-center" data-sly-list.primaryList="${primary.primaryHeader}" >
           <a class="primary-header-center-anchor" href="${primaryList.linkUrl}">${primaryList.linkTitle}</a>
        </div>
    </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !exp.companyDetails}"></sly>