.rows{
    background-color:white;
    margin:16px 16px 0px 16px;

}
.container_items{
    display: flex;
    flex-wrap:wrap;
    column-gap:16px;
    row-gap:16px;
    justify-content: center;
}

.col-md-8 {
	flex:0 0 63%;
}
.col-md-4 > .responsiveGrid{
    display:flex;
    flex-direction:column;
	row-gap:16px;
}
.col-md-4{
    flex:0 0 31%;
}

.col-md-4 > .responsiveGrid{
    display:flex;
    flex-direction:column;
	row-gap:16px;

}

.container_items > img {
	height:350px;
}


@media (max-width: 375px) {
    .col-md-8, .col-md-4 {
        max-width: 100%;
    }
    .row {
        display: block;
    }
}

@media (max-width: 993px) {
    .container_items > div:first-child {
        flex: 0 0 100%;
    }

    .container_items > div:not(:first-child) {
        flex: 0 0 48%;
    }
}

@media (max-width: 767px) {
    .container_items > div:first-child {
        flex: 0 0 100%;
    }

    .container_items > div:not(:first-child) {
        flex: 0 0 98%;
    }
}

