.finalfooter_main_container {
  background-color: #002d72;
  color: #fff;
  height: 180px;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 280px;
  box-sizing: border-box;
  border-top: 2px solid;
  font-family: "brandon_textblack", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.policy_container {
  display: flex;
  justify-content: end;
  margin-right: 200px;
  margin-top: 30px;
}

.policy_container a {
  padding-right: 16px;
  color: #fff;
  font-size: 12px;
}

.policy_container a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logo_img:hover {
  cursor: pointer;
}

.logo_container img {
  margin-top: 15px;
}

.footer_icons {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.logo_img {
  display: flex;
}

.logo_img h4 {
  padding-right: 20px;
}

.copyRight_container {
  margin-left: 280px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .finalfooter_main_container {
    height: auto;
    padding: 20px; /* Adjust padding for better mobile view */
  }

  .logo_container {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }

  .policy_container {
    justify-content: start;
    margin: 10px 0;
  }

  .logo_img h4 {
    display: none;
  }

  .logo_img {
    margin-bottom: 10px;
  }

  .copyRight_container {
    margin-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .policy_container {
    display: block;
    margin-right: 0;
    margin-top: 0;
  }
  .finalfooter_main_container {
    padding: 20px 40px;
  }

  .logo_img {
    width: 90px;
  }

  .logo_container img {
    padding-left: 0;
    padding-right: 0;
  }

  .policy_container a {
    display: block;
    padding-top: 36px;
  }
  .copyRight_container {
    padding-top: 26px;
  }
}
