.main_container {
  background-color: #002d72;
  height: 250px;
}

.parent_container {
  display: flex;
  justify-content: space-evenly;
  margin-right: 200px;
  margin-left: 130px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.items2,
.items5 {
  margin-top: 80px;
}

.parent_container a {
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 32px;
}

.parent_container a:hover {
  cursor: pointer;
}

.parent_container h6 {
  font-family: "brandon_textblack", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parent_container button {
  display: none;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.parent_container button.rotated {
  transform: rotate(180deg);
}

.parent_container button:hover {
  color: #ff0;
}

@media only screen and (max-width: 768px) {
  .main_container {
    height: auto;
  }

  .parent_container {
    display: block;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .list {
    margin: 0 16px;
  }

  .list h6 {
    cursor: pointer;
    margin: 0;
    padding: 16px 0;
  }

  .list a {
    display: none;
    padding-left: 16px;
    transition: 2s ease in;
  }

  .list.active a {
    display: block;
  }

  .items2,
  .items5 {
    display: none;
  }

  .parent_container button {
    display: block;
  }

  .items1 .items2,
  .items4 .items5 {
    display: block;
  }
}
@media screen and (max-width: 350px) {
  .main_container {
    padding: 20px 40px;
  }
}
