.navbar {
  border-top: 1px solid #002d72;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24186);
  background-color: white;
  &-ul {
    display: flex;
    list-style: none;
    margin: 0 12.5%;
    padding: 0;
    &-list {
      padding: 10px 0;
    }
    &-title {
      color: #002d72;
      margin: 10px 20px;
      text-decoration: none;
      &:hover {
        padding-bottom: 7px;
        border-bottom: 4px solid #002d72;
      }
    }
  }
}

.hamburger-bar {
  display: none;
}

.open {
  background-color: white;
  display: none;
}

.navbar-ul-list:nth-child(6) {
  background: #ffd100;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-ul {
      display: none;
      position: fixed;
      padding: 0px;
      margin-left: 30px;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: transparent;
      &-list {
        width: 100%;
        text-align: left;
        padding: 10px 0px 0px 10px;
        background-color: #fefefe;
        border: 1px solid #888;
        width: 100%;
        border: none;
      }
      &-title {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 2px;
        &:hover {
          padding-bottom: 0px;
          border-bottom: none;
        }
      }
    }
    &.open .navbar-ul {
      display: flex !important;
      display: block !important;
    }
  }

  .hamburger-bar {
    display: block;
    position: fixed;
    &-image,
    &-cross {
      width: 30px;
      height: 30px;
    }
  }

  .open {
    display: block;
  }
}
