<sly data-sly-use.compo="com.adobe.aem.guides.glucerna.core.models.VideoComp"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.empty="${compo.damVideoPath || compo.youtubeUrl}">
    <div data-sly-test="${compo.path == 'dam'}">
        <div class="video-container video_dam">
            <video id="myVideo"
                   poster="/content/dam/glucerna/glucerna%20videoposter.jpg"
                   style="cursor: pointer;"
                   >
                <source src="${compo.damVideoPath}" type="video/mp4" />
            </video>
            <div class="play-button" id="playButton"></div>
        </div>
    </div>
    <div data-sly-test="${compo.path == 'youtube'}">
        <div class="video-container vid_youtube">
            <iframe style="width:100%;height:100%;"
                    src="${compo.youtubeUrl}?autoplay=1&rel=0&mute=1"
                    title="GLUCERNA HELPS MANAGE GLUCOSE LEVELS WITH 4X MYO-INOSITOL AND UNIQUE CARBOHYDRATE."
                    frameborder="0"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div data-sly-test="${compo.path == 'brightcove'}">
        BrightCove Player: <a href="https://www.brightcove.com/en/">BrightCove</a>
    </div>
</sly>
