
<div data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser" 
	 data-sly-use.imageTemplate="image.html" 
     class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''} imagetextcontainer">
     <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
    <div class="cmp-teaser__content">
         <h1 class="titleimage">${properties.titleimage}</h1>
         <h3 class="pretitleimage">${properties.pretitleimage}</h3>
         <div class="descriptionimagecontainer">${properties.descriptionimage @context='html'}</div>
         <a href="${properties.linkimage}" class="buttonimagetext">${properties.buttontext}</a>
    </div>
	
</div>